.preloader div {
    background: #323232;
    width: 10px;
    height: 10px;
    display: inline-block;
    animation: loader 1s infinite;
}

.preloader {
    width: 60px;
    height: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.preloader div:nth-child(1) {
    animation-delay: -1.0s;
}
.preloader div:nth-child(2) {
    animation-delay: -.8s;
}
.preloader div:nth-child(3) {
    animation-delay: -.6s;
}
.preloader div:nth-child(4) {
    animation-delay: -.4s;
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}